server {
	listen 80;
	server_name {{server_name}};

	charset utf-8;
	client_max_body_size 75M;
	error_log error.log;
	location / {
		uwsgi_pass unix:///run/uwsgi/app/{{project_name}}/socket;
		include uwsgi_params;
	}
	location /static {
		alias {{project_dir}}/static;
		expires 365d;
	}
}
